:root {
  --mainTxtColor: #ff66c4;
  --mainBGColor: #212529;
  --scdBGColor: #fcd5ed;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "roboto", sans-serif;
  color: white;
}

/********** NAVBAR */
.navbar {
  position: absolute;
  padding: 10% 5% 5% 5%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "big shoulders display";
  font-variant: small-caps;
  color: var(--mainTxtColor);
  text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
  padding: 5vh 0 0 5vh;
}

.navbar .navLinks ul {
  display: flex;
}

.navbar .navLinks ul li {
  margin: 0 15px;
}

.navbar .navLinks ul li:hover {
  transform: scale(1.15);
  transition: all 0.5s ease-in;
}

/* MENU ICON */
.navbar .menuBtn {
  display: none;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

/* RESPONSIVE NAVBAR */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .navbar .navLinks {
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.41);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .navbar .navLinks.mobileMenuShow {
    margin-left: 0;
  }

  .navbar .navLinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .navLinks ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .navbar .menuBtn {
    display: block;
  }
}

/********** HEADER */
header {
  height: 100vh;
  width: 100vw;
  background: var(--mainBGColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.headerTitle .headerMainTitle {
  color: var(--mainTxtColor);
  font-size: 2.5rem;
}

.headerTitle .headerSecondTitle {
  font-variant: small-caps;
  font-size: 1.5rem;
  font-weight: lighter;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.headerContent .ITcat {
    width: 25vh;
    margin: 3vh 0;
}

/* header button - get down to the site */
.headerDownBtn:hover {
  box-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--mainTxtColor);
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}

/********** MAIN > PRESENTATION */
.presentation,
.hobbies,
.portfolio,
.experiences,
.workXP,
.contacts {
  background-color: var(--mainBGColor);
  color: white;
  line-height: 160%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

/* titles */
.presentation .presHeader .presHeaderTitle,
.presMainAssets .presMainAssetsBox .presMainAssetsTitle,
.hobbies .hobbiesHeaderBox .hobbiesTitle,
.portfolio .portfolioHeaderBox .portfolioTitle,
.experiences .expHeaderBox .expTitle,
.workXP .workXPHeaderBox .workXPTitle,
.contacts .contactsHeaderBox .contactsHeaderTitle {
  margin: 10% 0 5% 0;
  color: var(--mainTxtColor);
}

.presentation .presHeader,
.presentation .presMainAssets,
.hobbies .hobbiesHeaderBox,
.portfolio .portfolioHeaderBox,
.experiences .expHeaderBox,
.workXP .workXPHeaderBox,
.contacts .contactsHeaderBox {
  width: 90%;
}

.titlesBar {
  height: 2px;
  background-color: var(--mainTxtColor);
  margin: 0 5% 2% 5%;
  width: 90%;
}

/* presentation txt */
.presentation .presHeader .presHeaderTxt {
  text-align: center;
  padding-top: 5vh;
}

/* contact : img and btn */
.presentation .presContact {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation .presContactImgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.presentation .presContactImgBox .presContactImg {
  height: 10rem;
}

.presentation .presContactImgBox p {
  font-style: italic;
  font-size: 0.8rem;
}

.presentation .presContactBtn {
  color: var(--mainBGColor);
  padding: 3% 5%;
  background: var(--mainTxtColor);
  border-radius: 20px;
  font-weight: bold;
  min-width: 130px;
  text-align: center;
  border: 1px solid var(--mainBGColor);
  transition: all 0.5s ease-in;
}

.presentation .presContactBtn:hover {
  color: var(--mainTxtColor);
  background-color: var(--mainBGColor);
  border: 1px solid var(--mainTxtColor);
  box-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;
}

/* presentation : assets */
.presMainAssetsTitle {
  text-align: right;
}

.presMainAssetsAssets {
  text-align: center;
  margin-top: 5%;
  font-size: 1.3rem;
  font-variant: small-caps;
}

/* presentation : web assets */
.presMainAssetsWebUl {
  text-align: center;
  gap: 5%;
  margin-top: 10%;
}

.presMainAssetsWebAssets:hover {
  opacity: 0.5;
}

/* MAIN > HOBBIES */
.hobbiesBoxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "one" "two" "three" "four";
  gap: 5%;
  width: 90%;
}

.hobbiesBox1 {
  grid-area: "one";
}

.hobbiesBox2 {
  grid-area: "two";
}

.hobbiesBox3 {
  grid-area: "three";
}

.hobbiesBox4 {
  grid-area: "four";
}

.hobbiesBoxes .hobbiesBox {
  border: 1px solid var(--mainTxtColor);
  border-radius: 10px;
  padding: 2vh;
  margin: 2vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.hobbiesBoxes .hobbiesBox:hover {
  box-shadow: 0 0 0.2em var(--mainTxtColor), 0 0 0.45em currentColor;
}

.hobbiesBoxes .hobbiesBox .hobbiesBoxesIcons {
    height: 3vh;
}

/* MAIN > PORTFOLIO */
.portfolio {
  padding: 15vh 2svh 30svh 2svh;
}

.portfolio .portfolioTitle {
  text-align: right;
}

/* portfolio boxes */
.portfolio .portfolioXPs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a" "b" "c" "d" "e" "f";
  margin-top: 5%;
  gap: 2%;
}

.portfolioXP:hover {
  opacity: 0.5;
}

.portfolioXP1 {
  grid-area: "a";
}

.portfolioXP2 {
  grid-area: "b";
}

.portfolioXP3 {
  grid-area: "c";
}

.portfolioXP4 {
  grid-area: "d";
}

.portfolioXP5 {
  grid-area: "e";
}

.portfolioXP6 {
  grid-area: "f";
}

.portfolio .portfolioXPs .portfolioXP .portfolioXPContent {
  text-align: center;
}

.portfolio .portfolioXPs .portfolioXP .portfolioXPContent img {
  border-radius: 10px;
  max-width: 100%;
}

.portfolio .portfolioXPs .portfolioXP .portfolioXPLangages {
  color: var(--mainTxtColor);
  font-weight: bold;
  margin: 2% 0;
  font-size: 0.8rem;
}

/* MAIN > EXPERIENCES */
.xps {
  width: 80%;
  margin-top: 5%;
}

.experiences .xps .xpBox .xpTitle {
  background: linear-gradient(
    to left,
    var(--mainBGColor) 0%,
    var(--mainBGColor) 30%,
    var(--mainTxtColor) 100%
  );
  padding: 1%;
  border-radius: 5px;
  text-align: center;
}

.experiences .xps .xpBox .xpTitle2 {
  background: linear-gradient(
    to left,
    var(--mainTxtColor) 0%,
    var(--mainTxtColor) 30%,
    var(--mainBGColor) 100%
  );
  padding: 1% 0;
  border-radius: 2px;
  text-align: center;
}

.experiences .xps .xpBox .xpTime {
  font-variant: small-caps;
  font-style: italic;
  margin: 2% 2% 2% 5%;
  color: var(--mainTxtColor);
  font-size: 0.9rem;
}

.workXPTitle {
  text-align: right;
}

.workXP p {
  text-align: center;
  margin: 5%;
}

/********** FOOTER > CONTACTS */
footer .contacts .contactsBoxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

footer .contacts .contactsBoxes .contactBox .contactImg {
  height: 6rem;
  transition: all 1s ease;
}

footer .contacts .contactsBoxes .contactBox .contactImg:hover {
  transform: scale(1.1);
}

/* UP BUTTON */
.up {
  width: 10%;
  position: fixed;
  bottom: 3vh;
  right: 5vw;
  animation: forwards;
}

.up:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* hidden stuffs */ 
.hidden {
    display: none; 
}

/********** RESPONSIVE */
/* sm */
@media screen and (max-width: 768px) {
  .presHeaderTxt {
    padding: 0 5%;
  }

  .hobbiesBox {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* titles */
  .presentation .presHeader .presHeaderTitle,
  .presMainAssets .presMainAssetsBox .presMainAssetsTitle,
  .hobbies .hobbiesHeaderBox .hobbiesTitle,
  .portfolio .portfolioHeaderBox .portfolioTitle,
  .experiences .expHeaderBox .expTitle,
  .workXP .workXPHeaderBox .workXPTitle,
  .contacts .contactsHeaderBox .contactsHeaderTitle {
    margin: 5% 0 3% 0;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .navbar {
    padding: 2%;
  }

  .portfolio .portfolioXPs .portfolioXP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .up {
    width: 8%;
  }

  .presMainAssetsWebUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
}

/* lg */
@media screen and (min-width: 1050px) {
  .portfolio .portfolioXPs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a b" "c d" "e f";
  }

  .portfolio {
    padding: 1vh 0;
  }

  .workXP p {
    margin: 5% 20% 0 20%;
  }

  /* hidden stuffs */ 
.hidden {
    display: block; 
}
}

/* xl */
@media screen and (min-width: 1312px) {
  .navbar,
  header,
  .presHeader,
  .navbar,
  main,
  footer {
    width: 65%;
    margin: 0 auto;
  }

  .navbar {
    position: sticky;
    background-color: var(--mainBGColor);
    padding: 5vh;
  }

  .navbar .logo {
    padding: 0;
  }

  html {
    background-color: var(--scdBGColor);
  }

  .up {
    width: 5%;
  }

  .presentation,
  .hobbies,
  .portfolio,
  .experiences,
  .workXP,
  .contacts {
    padding: 2%;
  }

  header {
    height: 80vh;
  }

  .headerTitle .headerMainTitle {
    font-size: 3rem;
  }

  .presMainAssetsWebUl {
    gap: 6%;
  }

  .presMainAssetsWebAssets {
    margin: 4%;
  }
  .presentation .presHeader .presHeaderTitle,
  .presMainAssets .presMainAssetsBox .presMainAssetsTitle,
  .hobbies .hobbiesHeaderBox .hobbiesTitle,
  .portfolio .portfolioHeaderBox .portfolioTitle,
  .experiences .expHeaderBox .expTitle,
  .workXP .workXPHeaderBox .workXPTitle,
  .contacts .contactsHeaderBox .contactsHeaderTitle {
    margin: 5% 0 5% 0;
  }

  .presentation .presContact {
    margin: 5%;
  }
}

/* scroll management */
.reveal {
  opacity: 0;
}

.reveal-visible {
  opacity: 1;
  transition: 2s cubic-bezier(0.5, 0, 0, 1);
}
